.user {
  & > div:first-child {
    background-color: #757575;
    color: #FAFAFA;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;

    display: flex;
    align-items: center;

    img {
      max-height: 30px;
      margin: 0 10px;
    }
  }

  .repo {
    display: flex;
    flex-wrap: wrap;
  }
}
